@charset "UTF-8";
/* CSS Document */



/* --------------------------------------
   CALENDAR
   -------------------------------------- */

.calendar-content:after {
  content: '';
  display: block;
  clear: both;
}
.calendar-column{
  width: calc((100% / 7));
  float: left;
  border:1px solid teal;
  text-align: right;
  height:90px;
  padding:5px;
}

.calendar-column.current{
  background-color: #67D5B5;
}
.calendar-header h3{
  text-align: center;
}

.calendar-content .calendar-column:hover{
  background-color: whiteSmoke;
  cursor:pointer;
}

.event-num{
  text-align: center;
  font-style: italic;
  /*radius: 50%;*/
}
.event-num span{
  background-color: #FFBC42;
  padding:5px 15px;
  border-radius: 20px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */
